In [1]:
from mongoengine import *
import os
import pandas as pd
from pandas import Series,DataFrame
import datetime

# 1 读取文件

### 读取方式1：使用pandas

In [3]:
targetfilename=r"1407.txt"
# 家中mac
# targetpath=r"/Users/casablanca/03project/typhoonSearchSys/demo_data"
# 单位mac
# targetpath=r"/Users/liusihan/Documents/01project/TyphoonSearchSys/demo_data"
targetpath=r"/Users/liusihan/Documents/01project/TyphoonSearchSys/data/station/2014"
fullname=os.path.join(targetpath,targetfilename)

In [4]:
fullname

'/Users/liusihan/Documents/01project/TyphoonSearchSys/data/station/2014/1407.txt'

不使用pandas的read_table

In [5]:
with open(fullname,'rb') as f:
    data=pd.read_table(f,sep='\n',encoding='utf-8',header=None,infer_datetime_format=False)
    print('读取成功')

读取成功

In [6]:
data.head(8)

                                                   0
0                                                  1
1                   S.N.  81410   YANTIAN        ...
2           0    1    2    3    4    5    6    7 ...
3                                                  +
4         218  202  200  198  211  260  310  315 ...
5    614  187  172  162  158  178  224  266  278 ...
6          31   30   38   40   33   36   44   37 ...
7         238  217  210  195  189  222  280  305 ...

In [ ]:
data

In [8]:
# 找到标志位
mark_list=[]
for index in range(len(data)):
#     temp= data.iloc[index][0]
    temp=data.iloc[index][0].split()[0]
#     print(temp)
    if temp=='+':
        mark_list.append(index)

In [9]:
mark_list

[3, 20, 37, 54, 71, 88, 105, 121]

In [10]:
data.iloc[3]

0    +
Name: 3, dtype: object

In [11]:
data.iloc[1]

0                     S.N.  81410   YANTIAN        ...
Name: 1, dtype: object

---

# 2 获取测站name以及经纬度信息等要素

In [13]:
data_base=Series(data.iloc[1][0].split())
data_base

0           S.N.
1          81410
2        YANTIAN
3           LAT.
4         22.35'
5           LON.
6        114.16'
7          2014.
8           LEV.
9            196
10          W.L.
11           353
12    H.G.Y.2009
dtype: object

### 2.1 获取经纬度数据

In [31]:
# 查找经纬度的标志位
lat_index=data_base[data_base=='LAT.'].index[0]
lon_index=data_base[data_base=='LON.'].index[0]

In [32]:
# 获取lat
float(data_base.iloc[lat_index+1][:-1])

22.35

In [33]:
# 获取lon
float(data_base.iloc[lon_index+1][:-1])

114.16

### 2.2 获取测站名称

In [34]:
data_base[2]

'YANTIAN'

### 2.3 警戒潮位等其他数据

In [40]:
lev_index=data_base[data_base=='LEV.'].index[0]
lev_index

8

In [42]:
wl_index=data_base[data_base=='W.L.'].index[0]
wl_index

10

In [43]:
# 获取lev
data_base.iloc[lev_index+1]

'196'

In [44]:
# 获取wl
data_base.iloc[wl_index+1]

'353'

In [45]:
# 获取调和函数
data_base.iloc[12]

'H.G.Y.2009'

---

# 3 读取实际观测值  
与之前老的格式无区别