In [1]:
from mongoengine import *
import os
import pandas as pd
from pandas import Series,DataFrame
import datetime

# 1 读取文件

### 读取方式1：使用pandas

In [5]:
targetfilename=r"1409.txt"
# 家中mac
# targetpath=r"/Users/casablanca/03project/typhoonSearchSys/demo_data"
# 单位mac
# targetpath=r"/Users/liusihan/Documents/01project/TyphoonSearchSys/demo_data"
targetpath=r"/Users/liusihan/Documents/01project/TyphoonSearchSys/data/station/2014"
# mac16
# targetpath=r"/Users/drno/Documents/01proj/TyphoonSearchSys/data/station/2014"
fullname=os.path.join(targetpath,targetfilename)

In [6]:
fullname

'/Users/liusihan/Documents/01project/TyphoonSearchSys/data/station/2014/1409.txt'

不使用pandas的read_table

In [7]:
with open(fullname,'rb') as f:
    data=pd.read_table(f,sep='\n',encoding='utf-8',header=None,infer_datetime_format=False)
    print('读取成功')

读取成功

In [9]:
data.head(8)

                                                   0
0                                                 1
1     TP: 1409      S.N.    745   XISHA          ...
2           0    1    2    3    4    5    6    7 ...
3                                                  +
4         130  139  146  148  143  141  143  150 ...
5    716  106  118  127  131  132  131  131  133 ...
6          24   21   19   17   11   10   12   17 ...
7         133  145  156  158  155  152  150  146 ...

In [10]:
data

                                                     0
0                                                   1
1       TP: 1409      S.N.    745   XISHA          ...
2             0    1    2    3    4    5    6    7 ...
3                                                    +
4           130  139  146  148  143  141  143  150 ...
5      716  106  118  127  131  132  131  131  133 ...
6            24   21   19   17   11   10   12   17 ...
7           133  145  156  158  155  152  150  146 ...
8      717  107  119  129  136  138  136  133  130 ...
9            26   26   27   22   17   16   17   16 ...
10          142  156  164  177  176  170  159  159 ...
11     718  109  121  133  141  145  144  140  135 ...
12           33   35   31   36   31   26   19   24 ...
13          134  149  161  170  173  173  168  162 ...
14     719  113  124  135  145  152  153  150  144 ...
15           21   25   26   25   21   20   18   18 ...
16                                                   1
17      TP: 1409      S.N.  10723   FANGCG         ...
18            0    1    2    3    4    5    6    7 ...
19                                                   +
20          348  292  240  191  161  139  136  142 ...
21     717  327  283  239  199  169  150  145  152 ...
22           21    9    1   -8   -8  -11   -9  -10 ...
23          359  322  276  226  180  156  144  155 ...
24     718  328  294  257  222  192  174  169  176 ...
25           31   28   19    4  -12  -18  -25  -21 ...
26          283  236  206  176  143  131  131  165 ...
27     719  305  284  258  230  205  188  183  192 ...
28          -22  -48  -52  -54  -62  -57  -52  -27 ...
29                                                 ...
..                                                 ...
336                                                  +
337         188  217  225  212  191  168  143  158 ...
338    717  198  219  214  195  180  162  144  151 ...
339         -10   -2   11   17   11    6   -1    7 ...
340         201  228  243  259  242  216  209  188 ...
341    718  184  206  223  217  201  184  163  144 ...
342          17   22   20   42   41   32   46   44 ...
343         204  199  224  231  236  231  205  182 ...
344    719  189  195  214  228  224  209  188  164 ...
345          15    4   10    3   12   22   17   18 ...
346         212  209  208  223  240  242  225  201 ...
347    720  199  198  205  222  236  233  216  191 ...
348          13   11    3    1    4    9    9   10 ...
349                                                  1
350     TP: 1409      S.N.    733   CHIWANH        ...
351           0    1    2    3    4    5    6    7 ...
352                                                  +
353         295  319  328  328  314  290  264  235 ...
354    717  262  283  290  287  273  247  215  187 ...
355          33   36   38   41   41   43   49   48 ...
356         306  335  352  358  356  342  313  290 ...
357    718  245  274  289  292  287  273  247  216 ...
358          61   61   63   66   69   69   66   74 ...
359                                                ...
360         276  309  337  342  340  335  320  300 ...
361    719  224  259  281  291  293  288  273  249 ...
362          52   50   56   51   47   47   47   51 ...
363         253  287  315  332  337  334  329  316 ...
364    720  207  239  267  285  293  294  289  275 ...
365          46   48   48   47   44   40   40   41 ...

[366 rows x 1 columns]

In [11]:
# 找到标志位
mark_list=[]
for index in range(len(data)):
#     temp= data.iloc[index][0]
    temp=data.iloc[index][0].split()[0]
#     print(temp)
    if temp=='+':
        mark_list.append(index)

In [12]:
mark_list

[3,
 19,
 36,
 53,
 70,
 87,
 104,
 120,
 136,
 152,
 169,
 186,
 203,
 220,
 237,
 254,
 271,
 288,
 304,
 320,
 336,
 352]

In [13]:
data.iloc[3]

0    +
Name: 3, dtype: object

In [14]:
data.iloc[1]

0       TP: 1409      S.N.    745   XISHA          ...
Name: 1, dtype: object

---

# 2 获取测站name以及经纬度信息等要素

In [15]:
data_base=Series(data.iloc[1][0].split())
data_base

0            TP:
1           1409
2           S.N.
3            745
4          XISHA
5           LAT.
6         16.50'
7           LON.
8        112.20'
9          2014.
10          LEV.
11           121
12          W.L.
13             0
14    H.G.Y.2006
dtype: object

注意base行有可能有一个`tp:1419`的编号  
该编号为台风编号

### 2.1 获取经纬度数据

- 注意此处的经纬度实际小数点后面是分，所以需要进行一个转换

In [16]:
# 查找经纬度的标志位
lat_index=data_base[data_base=='LAT.'].index[0]
lon_index=data_base[data_base=='LON.'].index[0]

In [19]:
# 获取lat
float(data_base.iloc[lat_index+1][:-1])

16.5

In [23]:
str_lat=data_base.iloc[lat_index+1][:-1]

In [24]:
index_point=str_lat.index('.')

In [25]:
str_lat[:index_point]

'16'

In [30]:
float_lat=round(int(str_lat[index_point+1:])/60,2)

In [31]:
# 注意此处为最终修改 by 19-06-19
int(str_lat[:index_point])+float_lat

16.83

In [18]:
# 获取lon
float(data_base.iloc[lon_index+1][:-1])

112.2

### 尝试找到tp标记位

In [32]:
data_base[data_base=='TP:'].count()==1

True

In [33]:
data_base[data_base=='TP:'].index[0]

0

In [34]:
data_base.iloc[1]

'1409'

### 2.2 获取测站名称

In [36]:
data_base[data_base[data_base=='TP:'].index[0]+3]

'745'

### 找到code（字符串）以及num（数字）

In [44]:
data_base

0            TP:
1           1409
2           S.N.
3            745
4          XISHA
5           LAT.
6         16.50'
7           LON.
8        112.20'
9          2014.
10          LEV.
11           121
12          W.L.
13             0
14    H.G.Y.2006
dtype: object

In [43]:
data_base[data_base=='S.N.']

2    S.N.
dtype: object

In [46]:
# 找到code（字符串）
data_base[data_base[data_base=='S.N.'].index[0]+2]

'XISHA'

### 2.3 平均海平面与警戒潮位等其他数据

In [38]:
lev_index=data_base[data_base=='LEV.'].index[0]
lev_index

10

In [39]:
wl_index=data_base[data_base=='W.L.'].index[0]
wl_index

12

In [40]:
# 获取lev
data_base.iloc[lev_index+1]

'121'

In [41]:
# 获取wl
data_base.iloc[wl_index+1]

'0'

In [42]:
# 获取调和函数
data_base.iloc[wl_index+2]

'H.G.Y.2006'

### startdate  
注意旧版本的起始时间包含在报头里  
新版本里不含起始时间  
新版本的起始时间在数据里面

---

# 3 读取实际观测值  
与之前老的格式无区别  
由于新版本的数据数据中不包含时间了，所以需要提取时间的标记位之后的第一行第一列的数据

In [58]:
startdate_str=data.iloc[5][0].split()[0]
startdate_str

'716'

In [59]:
startdate_str[:-2]

'7'

In [60]:
startdate_str[-2:]

'16'

In [103]:
data.iloc[5][0].split()

['716',
 '106',
 '118',
 '127',
 '131',
 '132',
 '131',
 '131',
 '133',
 '139',
 '148',
 '160',
 '171',
 '180',
 '184',
 '181',
 '170',
 '154',
 '134',
 '114',
 '97',
 '86',
 '82',
 '85',
 '95',
 '402',
 '132',
 '1301',
 '184',
 '539',
 '131',
 '2101',
 '82']

In [105]:
data.iloc[5][0]

'  716  106  118  127  131  132  131  131  133  139  148  160  171  180  184  181  170  154  134  114   97   86   82   85   95  402  132 1301  184  539  131 2101   82'

In [106]:
val_temp='  716  106  118  127  131  132  131  131  133  139  148  160  171  180  184  181  170  154  134  114   97   86   82   85   95  402  132 1301  184  539  131 2101   82'

In [107]:
val_temp

'  716  106  118  127  131  132  131  131  133  139  148  160  171  180  184  181  170  154  134  114   97   86   82   85   95  402  132 1301  184  539  131 2101   82'

In [108]:
val_temp[7:11]

'106 '

### 切分0-23时的数据

In [109]:
realdata_arr=[]

In [110]:
for i,val in enumerate(range(6,len(val_temp),5)):
    print(i)
    if i<24:
        print(f'num:{i+1}')
        print(f'start:{val}|end:{val+5}')
        print(val_temp[val:val+5])
#         realdata_arr.append(int(temp[val:val+5]))
        print('----')

0
num:1
start:6|end:11
 106
----
1
num:2
start:11|end:16
 118
----
2
num:3
start:16|end:21
 127
----
3
num:4
start:21|end:26
 131
----
4
num:5
start:26|end:31
 132
----
5
num:6
start:31|end:36
 131
----
6
num:7
start:36|end:41
 131
----
7
num:8
start:41|end:46
 133
----
8
num:9
start:46|end:51
 139
----
9
num:10
start:51|end:56
 148
----
10
num:11
start:56|end:61
 160
----
11
num:12
start:61|end:66
 171
----
12
num:13
start:66|end:71
 180
----
13
num:14
start:71|end:76
 184
----
14
num:15
start:76|end:81
 181
----
15
num:16
start:81|end:86
 170
----
16
num:17
start:86|end:91
 154
----
17
num:18
start:91|end:96
 134
----
18
num:19
start:96|end:101
 114
----
19
num:20
start:101|end:106
  97
----
20
num:21
start:106|end:111
  86
----
21
num:22
start:111|end:116
  82
----
22
num:23
start:116|end:121
  85
----
23
num:24
start:121|end:126
  95
----
24
25
26
27
28
29
30
31

### 切分后面的高低潮

In [120]:
index_2=126
step_2=10
year=1958
month=9
day=4
index=126
step=5

In [121]:
val_temp[index:index+step_2]

' 402  132 '

* 最终截取数据的方式——可行

In [124]:
for i,val in enumerate(range(index_2,len(val_temp),step_2)):
#     print(i)
    if i<24:
        print(f'num:{i+1}')
        print(f'start:{val}|end:{val+step_2}')
        print(f'val:{val_temp[val:val+step]}|val2:{val_temp[val+step:val+step*2]}')
        print(f'hour:{int(val_temp[val:val+step][:2])}|min:{int(val_temp[val:val+step][2:])}')

num:1
start:126|end:136
val: 402 |val2: 132
hour:4|min:2
num:2
start:136|end:146
val:1301 |val2: 184
hour:13|min:1
num:3
start:146|end:156
val: 539 |val2: 131
hour:5|min:39
num:4
start:156|end:166
val:2101 |val2:  82
hour:21|min:1