In [1]:
from mongoengine import *
import os
import pandas as pd
from pandas import Series,DataFrame

## 1 读取文件

### 读取方式1：使用pandas

In [4]:
targetfilename=r"5622.txt"
# 家中mac
# targetpath=r"/Users/casablanca/03project/typhoonSearchSys/demo_data"
# 单位mac
targetpath=r"/Users/liusihan/Documents/01project/TyphoonSearchSys/demo_data"
fullname=os.path.join(targetpath,targetfilename)

In [5]:
fullname

'/Users/liusihan/Documents/01project/TyphoonSearchSys/demo_data/5622.txt'

不使用pandas的read_table

In [6]:
with open(fullname,'rb') as f:
    data=pd.read_table(f,sep='\n',encoding='utf-8',header=None,infer_datetime_format=False)
    print('读取成功')

读取成功

In [7]:
data.head(8)

                                                   0
0                                                  1
1          S.N.   122      5622      9   4     QI...
2          0   1   2   3   4   5   6   7   8   9 ...
3  +                                             ...
4    9   159 156 135 107  90  93 110 123 145 141 ...
5    4   121 109  90  71  58  53  59  73  87  96 ...
6   30    38  47  45  36  32  40  51  50  58  45 ...
7    9   156 159 142 126 106 100  98  --  --  -- ...

In [12]:
data.iloc[3][0].split()[0]

'+'

In [20]:
# 获取总共数据的长度
len(data)

329

** 注意标志位已改为  + **

In [13]:
# 找到标志位
mark_list=[]
for index in range(len(data)):
#     temp= data.iloc[index][0]
    temp=data.iloc[index][0].split()[0]
#     print(temp)
    if temp=='+':
        mark_list.append(index)

In [14]:
mark_list

[3,
 21,
 37,
 54,
 72,
 89,
 107,
 124,
 142,
 159,
 176,
 193,
 210,
 227,
 244,
 262,
 279,
 297,
 314]

In [15]:
len(mark_list)

19

-----

In [36]:
data.iloc[0][0]

'1'

In [23]:
data.iloc[0][0]

'1'

In [24]:
len(data.iloc[1])

1

In [28]:
data.iloc[1].index

Int64Index([0], dtype='int64')

In [30]:
# data.iloc[1]

In [25]:
data.iloc[1]

0            S.N.   122      5622      9   4     QI...
Name: 1, dtype: object

In [32]:
data.iloc[1].size

1

In [33]:
data.iloc[1][0]

'        S.N.   122      5622      9   4     QINHUANG            Lon  11937   Lat  3955    Lev    89    JW   220    H.G.Y.1975'

In [31]:
type(data.iloc[1])

pandas.core.series.Series

In [54]:
print(type(data.iloc[0][0]))
print(data.iloc[0][0])

<class 'numpy.int64'>
66666

In [55]:
data.iloc[0][0]==66666

True

--------

### 2 获取截取的内容

In [40]:
mark_list

[0, 18, 69, 104, 139, 224, 259, 294]

In [65]:
# 先根据标志位截取一段df
data.iloc[0:17]

                                                    0
0                                                   1
1           S.N.   122      5622      9   4     QI...
2           0   1   2   3   4   5   6   7   8   9 ...
3   +                                             ...
4     9   159 156 135 107  90  93 110 123 145 141 ...
5     4   121 109  90  71  58  53  59  73  87  96 ...
6    30    38  47  45  36  32  40  51  50  58  45 ...
7     9   156 159 142 126 106 100  98  --  --  -- ...
8     5   130 129 115  95  77  67  65  74  89 101 ...
9    HM    26  30  27  31  29  33  33  --  --  -- ...
10                                                ...
11    9   188 193 187 165 139 122 111 110 115 111 ...
12    6   131 137 135 119  99  84  78  81  93 108 ...
13   02    57  56  52  46  40  38  33  29  22   3 ...
14                                                ...
15    9    --  --  --  --  --  --  --  --  --  -- ...
16    7   127 132 140 135 118 100  92  91  98 112 ...

对于截取的内容  
index：0：基本信息（包含经纬度信息）

### 2.1 获取台风编号-测站name-经纬度信息

In [69]:
data_base=Series(data.iloc[1][0].split())
data_base

0           S.N.
1            122
2           5622
3              9
4              4
5       QINHUANG
6            Lon
7          11937
8            Lat
9           3955
10           Lev
11            89
12            JW
13           220
14    H.G.Y.1975
dtype: object

In [73]:
# 注意此处需要对经纬度做一个处理（后2位为小数位）

In [74]:
data_base[7][:-2]

'119'

In [75]:
data_base[7][-2:]

'37'

In [76]:
#拼接成小数
float(f"{data_base[7][:-2]}.{data_base[7][-2:]}")

119.37

In [77]:
# 先获取台风编号-测站名称-经纬度信息
name=data_base[5]
code=data_base[2]
latlon=[float(f"{data_base[9][:-2]}.{data_base[9][-2:]}"),float(f"{data_base[7][:-2]}.{data_base[7][-2:]}")]

In [78]:
print(name)
print(code)
print(latlon)

QINHUANG
5622
[39.55, 119.37]

In [47]:
data.iloc[2][0]

'        0   1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  17  18  19  20  21  22  23'

In [56]:
type(data.iloc[2][0])

str

In [59]:
data.iloc[2][0].split()[:5]

['0', '1', '2', '3', '4']

In [79]:
# 转成series
Series(data.iloc[2][0].split())

0      0
1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10    10
11    11
12    12
13    13
14    14
15    15
16    16
17    17
18    18
19    19
20    20
21    21
22    22
23    23
dtype: object

### 2.2 获取'+'标志位（不用找了）位置固定

In [83]:
data.iloc[3][0].split()[0]

'+'

### 2.3 获取极大值序列与极小值序列  
        差值不要

In [92]:
max_arr=Series(data.iloc[4][0].split())
max_arr.head()

0      9
1    159
2    156
3    135
4    107
dtype: object

In [89]:
# 9月4日的 24小时极大值序列
max_arr[1:25]

1     159
2     156
3     135
4     107
5      90
6      93
7     110
8     123
9     145
10    141
11    155
12    163
13    166
14    175
15    165
16    154
17    157
18    185
19    203
20    204
21    197
22    184
23    160
24    149
dtype: object

In [93]:
# 极小值序列
min_arr=Series(data.iloc[5][0].split())
min_arr.head()

0      4
1    121
2    109
3     90
4     71
dtype: object

In [95]:
# 获取24小时的极小值序列
min_arr[1:25]

1     121
2     109
3      90
4      71
5      58
6      53
7      59
8      73
9      87
10     96
11    106
12    121
13    136
14    140
15    135
16    130
17    132
18    139
19    147
20    154
21    156
22    148
23    135
24    128
dtype: object

### 2.3 获取共有几日的观测数据

In [96]:
len(data.iloc[0:17])

17

In [98]:
data.iloc[0:17].iloc[10]

0                                                  ...
Name: 10, dtype: object

In [99]:
data.iloc[0:17].iloc[9]

0     HM    26  30  27  31  29  33  33  --  --  -- ...
Name: 9, dtype: object

In [100]:
data.iloc[0:17].iloc[14]

0                                                  ...
Name: 14, dtype: object

In [101]:
data.iloc[0:17].iloc[14][0]

'                                                                                                                                      MIN     '

In [103]:
data.iloc[0:17].iloc[14][0].split()

['MIN']

In [102]:
data.iloc[0:17].iloc[10][0]

'                                                                                                  MAX                                         '

In [104]:
data.iloc[0:17].iloc[10][0].split()

['MAX']

### 2.4 获取极值

In [97]:
max_ser=Series(data.iloc[0:17].iloc[4][0].split())
max_ser

0        9
1      159
2      156
3      135
4      107
5       90
6       93
7      110
8      123
9      145
10     141
11     155
12     163
13     166
14     175
15     165
16     154
17     157
18     185
19     203
20     204
21     197
22     184
23     160
24     149
25    1240
26     180
27    1910
28     211
29    0430
30      89
31    1510
32     153
dtype: object

In [99]:
max_ser[25:27]

25    1240
26     180
dtype: object

----

## 3 封装成方法  
- 获取所有的需要截取的标志位（即** + **出现的位置）  
- 根据窃取的标志位进行按日进行截取（此处需要判断 该站位，对应的台风 共有几日的观测数据）

In [8]:
checkpoint_arr=[]
def getCheckPointList():
    '''
        获取标志位的列表
    '''    
    for index in range(len(data)):
    #     temp= data.iloc[index][0]
        temp=data.iloc[index][0].split()[0]
    #     print(temp)
        if temp=='+':
            checkpoint_arr.append(index)

In [9]:
getCheckPointList()

In [10]:
checkpoint_arr

[3,
 21,
 37,
 54,
 72,
 89,
 107,
 124,
 142,
 159,
 176,
 193,
 210,
 227,
 244,
 262,
 279,
 297,
 314]

In [31]:
# 获取日期所在位置
Series(data.iloc[3-2][0].split())

0           S.N.
1            122
2           5622
3              9
4              4
5       QINHUANG
6            Lon
7          11937
8            Lat
9           3955
10           Lev
11            89
12            JW
13           220
14    H.G.Y.1975
dtype: object

In [34]:
data.iloc[3-2:21-3]

                                                    0
1           S.N.   122      5622      9   4     QI...
2           0   1   2   3   4   5   6   7   8   9 ...
3   +                                             ...
4     9   159 156 135 107  90  93 110 123 145 141 ...
5     4   121 109  90  71  58  53  59  73  87  96 ...
6    30    38  47  45  36  32  40  51  50  58  45 ...
7     9   156 159 142 126 106 100  98  --  --  -- ...
8     5   130 129 115  95  77  67  65  74  89 101 ...
9    HM    26  30  27  31  29  33  33  --  --  -- ...
10                                                ...
11    9   188 193 187 165 139 122 111 110 115 111 ...
12    6   131 137 135 119  99  84  78  81  93 108 ...
13   02    57  56  52  46  40  38  33  29  22   3 ...
14                                                ...
15    9    --  --  --  --  --  --  --  --  --  -- ...
16    7   127 132 140 135 118 100  92  91  98 112 ...
17   03    --  --  --  --  --  --  --  --  --  -- ...

In [44]:
len(data.iloc[7][0].split())

33

In [46]:
data.iloc[10][0].split()[0]

'MAX'

In [11]:
# 获取下一个日期的起始位置
def checkIsNextDateDataPoint(index:int):
    '''
        判断是否为日期的标志点
    '''
    
    if len(data.iloc[index][0].split())==1:
        if data.iloc[index][0].split()[0] in ["MAX","MIN"]:
            return True
    else:
        return False

In [12]:
checkIsNextDateDataPoint(3)

False

In [13]:
checkIsNextDateDataPoint(10)

True

In [14]:
checkIsNextDateDataPoint(14)

True

### 对于站位基本信息的封装

In [20]:
import datetime

In [22]:
datetime.date(1958,1,1)

datetime.date(1958, 1, 1)

### 3.2 model设计

In [90]:
class Extremum(EmbeddedDocument):
    '''
        极值
    '''
    occurredTime=DateTimeField()
    val=FloatField()
    
class TideData(EmbeddedDocument):
    '''
        测站数据
    '''
    # 极大值的24小时观测数组
    max_arr=ListField(FloatField())
    # 极小值得24小时观测数组
    min_arr=ListField(FloatField())
    # 目标日期（年-月-日）
#     targetdate=DateTimeField()
    targetdate=DateField()
    heigh_heigh=EmbeddedDocumentField(Extremum)
    heigh_low=EmbeddedDocumentField(Extremum)
    low_heigh=EmbeddedDocumentField(Extremum)
    low_low=EmbeddedDocumentField(Extremum)

class StationTideData(Document):
    '''
        测站潮位数据
    '''
    # 测站代码
    code=StringField(max_length=10)
#     起始时间
    startdate=DateTimeField()
#     测站名称
    stationname=StringField(max_length=10)
#     gesjon数据
    point=PointField()
#     平均海平面
    lev=IntField()
#     警戒潮位
    jw=IntField()
#     潮汐调和常数
    harmonicconstant=StringField()
#     潮位数据
    tideDataMax=EmbeddedDocumentField(TideData)
    tideDataMin=EmbeddedDocumentField(TideData)

- （1）获取测站基础信息

In [108]:

def convert2StationBaseModel(ser:Series=None,**kwargs):
    '''
        根据传入的series，根据指定位置进行截取
    '''
    # 获取年份
    year=int(kwargs.get('year'))
    latlon=[float(f"{ser[9][:-2]}.{ser[9][-2:]}"),float(f"{ser[7][:-2]}.{ser[7][-2:]}")]
    code=ser[2]
    # 起始时间
    startdate=datetime.date(year,int(ser[3]),int(ser[4]))
    stationname=ser[5]
#     print(stationname)
#     print(kwargs.get('index'))
    if stationname=='SHACHENG':
        print(kwargs.get('index'))
    lev=int(ser[11])
    jw=int(ser[13])
    harmonicconstant=ser[14]
    point=[latlon[1],latlon[0]]  
    stationtidedata=StationTideData(code=code,
                                   startdate=startdate,
                                   stationname=stationname,
                                   lev=lev,
                                   jw=jw,
                                   harmonicconstant=harmonicconstant,
                                   point=point)
    return stationtidedata

In [36]:
# test
temp_station_tide=convert2StationBaseModel(Series(data.iloc[1][0].split()),year='1958')

In [37]:
temp_station_tide

- （2）获取极值

In [84]:
def convert2Extremum():
    pass

- (3)获取连续测值

In [89]:
def convert2RealData(index:int,dt:DataFrame=None,**kwargs):
    # 极大值序列
    max_ser= Series(dt.iloc[index][0].split())
    # 极小值序列
    min_ser=Series(dt.iloc[index+1][0].split())
    # 从极大致序列与极小值序列中提取时间（月-日）
    month=max_ser[0]
    day=min_ser[0]
    year=int(kwargs.get('year'))
    target_date=datetime.date(year,month,day)
    # 获取极大值数组
    max_arr=max_ser[1:25]
    # 获取极小值数组
    min_arr=min_ser[1:25] 
    max_1=max_ser[25,27]
    max_2=max_ser
    pass

### 3.3 数据读取并转换

In [17]:
# 1 获取’+‘标志位
getCheckPointList()
checkpoint_arr[:5]

[3, 21, 37, 54, 72]

In [19]:
# 查看一下数组长度
len(checkpoint_arr)

57

In [38]:
# 2循环遍历标志位
for i,val in checkpoint_arr:
    # 2.1 对于当前标志位，根据标志位的位置获取到单个站位的日期以及基本信息
    print('index:{i}|val:{val}')

TypeError: 'int' object is not iterable

In [44]:
data.head()

                                                   0
0                                                  1
1          S.N.   122      5622      9   4     QI...
2          0   1   2   3   4   5   6   7   8   9 ...
3  +                                             ...
4    9   159 156 135 107  90  93 110 123 145 141 ...

In [55]:
checkpoint_arr[-2:]

[297, 314]

In [109]:
model_arr=[]
for i,val in enumerate(checkpoint_arr):
    start,end=-1,-1
    # 2.1 对于当前标志位，根据标志位的位置获取到单个站位的日期以及基本信息
    # 获取起始及结束位置
#     print(f'序号:{i}')
#     print(f'start:{start}|end:{end}')
    try:
        start,end=null=checkpoint_arr[i:i+2]
    except:
        start=checkpoint_arr[i:i+2][0]
    # 获取海洋站基本位置所在位置
    index_station_base=start-2
    ser_station_base=Series(data.iloc[index_station_base][0].split())
    # 获取测站基本信息
    temp_model= convert2StationBaseModel(ser_station_base,year='1958',index=val)
#     model_arr.append(temp_model)
    # 2.2 获取极值序列
    
    print(temp_model)
    
#     print(f'index:{i}|val:{val}')
#     print(f'下次要出现的值:{checkpoint_arr[i+1]}')

StationTideData object
StationTideData object
StationTideData object
StationTideData object
StationTideData object
StationTideData object
StationTideData object
StationTideData object
StationTideData object
StationTideData object
StationTideData object
StationTideData object
210
StationTideData object
StationTideData object
StationTideData object
StationTideData object
StationTideData object
StationTideData object
StationTideData object
StationTideData object
StationTideData object
StationTideData object
StationTideData object
StationTideData object
StationTideData object
StationTideData object
StationTideData object
StationTideData object
StationTideData object
StationTideData object
StationTideData object
210
StationTideData object
StationTideData object
StationTideData object
StationTideData object
StationTideData object
StationTideData object
StationTideData object
StationTideData object
StationTideData object
StationTideData object
StationTideData object
StationTideData object
StationTideData object
StationTideData object
StationTideData object
StationTideData object
StationTideData object
StationTideData object
StationTideData object
210
StationTideData object
StationTideData object
StationTideData object
StationTideData object
StationTideData object
StationTideData object
StationTideData object

In [80]:
start,end=-1,-1
try:
    start,end=checkpoint_arr[56:58]
except:
    start=checkpoint_arr[56:58][0]
    pass

In [81]:
start,end

(314, -1)

## 问题汇总：

### S1 对于部分数据由于四位会导致间隔没有空格  
发现 210 SHACHENG 存在这个问题

In [113]:
data.iloc[210][0].split()

['+', 'H', 'H', 'L', 'L']

In [115]:
data.iloc[210:227]

                                                     0
210  +                                             ...
211    9   600 570 592 651 736 830 895 927 915 848 ...
212    2   609 576 592 650 731 817 885 914 897 834 ...
213   27    -9  -6   0   1   5  13  10  13  18  14 ...
214    9   681 596 591 642 752 862 946 990 976 902 ...
215    3   655 571 533 556 631 733 838 917 950 928 ...
216   28    26  25  58  86 121 129 108  73  26 -26 ...
217                            MAX                 ...
218    9   829 680 626 555 547 644 776 913 9851035 ...
219    4   733 614 523 494 537 635 758 874 956 983 ...
220   29    96  66 103  61  10   9  18  39  29  52 ...
221    9   808 668 532 432 415 507 624 760 886 971 ...
222    5   821 689 563 478 469 538 659 796 915 9901...
223   30   -13 -21 -31 -46 -54 -31 -35 -36 -29 -19 ...
224                                                  1
225          S.N. 73806      5622      9   2     BA...
226          0   1   2   3   4   5   6   7   8   9 ...

In [116]:
data.iloc[218][0].split()

['9',
 '829',
 '680',
 '626',
 '555',
 '547',
 '644',
 '776',
 '913',
 '9851035',
 '981',
 '879',
 '764',
 '616',
 '477',
 '407',
 '426',
 '505',
 '671',
 '824',
 '94710061003',
 '928',
 '08451035',
 '21301020',
 '0330',
 '532',
 '1515',
 '402']

In [117]:
data.iloc[218]

0      9   829 680 626 555 547 644 776 913 9851035 ...
Name: 218, dtype: object