In [2]:
from mongoengine import *
import os
import pandas as pd
import numpy as np
import re
from datetime import datetime

使用** mongoengine **  
[connect](http://docs.mongoengine.org/guide/connecting.html#guide-connecting)进行数据库连接

In [3]:
connect('typhoon')

MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True, read_preference=Primary())

## 1 读取文件

### 读取方式1：使用pandas

In [4]:
targetfilename=r"CH1956BST.txt"
# mac 16
# targetpath=r"/Users/casablanca/03project/typhoonSearchSys/demo_data"
# mac 15
targetpath=r"/Users/liusihan/Documents/01project/TyphoonSearchSys/demo_data"
fullname=os.path.join(targetpath,targetfilename)

In [5]:
fullname

'/Users/liusihan/Documents/01project/TyphoonSearchSys/demo_data/CH1956BST.txt'

不使用pandas的read_table

In [6]:
with open(fullname,'rb') as f:
    data=pd.read_table(f,sep='\s+',encoding='utf-8',header=None,infer_datetime_format=False)
    print('读取成功')

读取成功

--------

## 2 判断标志位的方式（必须同时满足），并获取标志位所在位置的数组（mark_indexs）

1-第一位是否为66666

2- 第7位是否不为Nan

In [7]:
data.iloc[0][0]==66666 and data.iloc[0][7]!=np.nan

True

### 写成方法：

In [8]:
def checkMark(index):
    '''
        判断是否为标志位
    '''
    return data.iloc[index][0]==66666 and data.iloc[index][7]!=np.nan

找到标志位所在的位置

In [9]:
mark_indexs=[]
for i in range(len(data)):
#     print(i)
    if checkMark(i):
        mark_indexs.append(i)

--------

## 3 获取观测值并写入mongoDB（暂时先写在list中）

In [10]:
# 保存起止数组的数组
list_startend=[]
index=0
for val in mark_indexs:
#     list_startend.append(mark_indexs[index:2])
#     print(mark_indexs[index:index+2])
    list_startend.append(mark_indexs[index:index+2])
    index=index+1
#     print(index)

[[789, 830], [830]]  
注意最后的数组是长度为1的数组，因为最后一次出现标志位后出现的都是观测数据，便结束了

----

## 4 使用mongoEngine

In [11]:
from mongoengine import *

In [12]:
connect('typhoon')

MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True, read_preference=Primary())

定义 mongodb中的存储对象（ORM）

In [13]:
class GeoTyphoonRealData(Document):
    '''
        支持geojson的存储至mongodb的model
    '''
    code=StringField(max_length=10)
    num=IntField()
    date=DateTimeField()
    bp=FloatField()
    wsm=FloatField()
    # 注意此处与django中的类型不同，django的类型为IntegerField，mongoengine为IntField！
    level=IntField()
    # latlon=models.ForeignKey(Point,on_delete=models.CASCADE)
    latlon=PointField()
    meta = {'collection': 'geotyphoonrealdata'}

In [14]:
import datetime

** 提示错误如下 **:  
NotUniqueError: Tried to save duplicate unique keys (E11000 duplicate key error collection: typhoon.Typhoon_geotyphoonrealdata index: __primary_key__ dup key: { : null })  
是mongodb中的对应document中可能设置了__primary_key__，我的解决办法是 ** 删除掉 **

### S1 根据标志位遍历df

循环遍历list_startend

In [14]:
for val in list_startend:
    if len(val)>1:        
        print(f"起始{val[0]}——终止{val[1]-1}")
    elif len(val)==1:
        print(f"起始{val[0]}")

起始0——终止10
起始11——终止58
起始59——终止80
起始81——终止117
起始118——终止126
起始127——终止148
起始149——终止158
起始159——终止168
起始169——终止186
起始187——终止196
起始197——终止218
起始219——终止223
起始224——终止270
起始271——终止286
起始287——终止298
起始299——终止309
起始310——终止323
起始324——终止335
起始336——终止371
起始372——终止384
起始385——终止396
起始397——终止428
起始429——终止463
起始464——终止504
起始505——终止520
起始521——终止535
起始536——终止586
起始587——终止622
起始623——终止659
起始660——终止680
起始681——终止697
起始698——终止744
起始745——终止803
起始804——终止817
起始818——终止831
起始832——终止850
起始851——终止865
起始866

In [15]:
def getHeaderBody(start,end=None):
    '''
        根据df的起止位置截取其中的头部（66666	0	25	0	1	0	6.0	(nameless)	20180501.0），
        以及数据内容body（2017041406	0	109	1302	1010	10）
    '''
    header=data.iloc[start-1]
    body=data.iloc[start:end,0:6]
    return header,body

In [16]:
from datetime import datetime

- 19-04-03 此处加入一个新的需求，加入对于 **台风 数字编号 **的获取

In [19]:
data.iloc[0]

0          66666
1              0
2             10
3              1
4              0
5              0
6              6
7     (nameless)
8    2.01107e+07
Name: 0, dtype: object

In [17]:
def convert2Typhoon(obj,code):
    '''
        根据传入的series将其转为typhoob Model
    '''
    lat=float(f"{str(obj[2])[:-1]}.{str(obj[2])[-1:]}")
    lon=float(f"{str(obj[3])[:-1]}.{str(obj[3])[-1:]}")
    stamp_str=obj[0]
    stamp=datetime.strptime(str(stamp_str),'%Y%m%d%H%M')
    typhoon_temp=GeoTyphoonRealData(code=code,
                                date=stamp,
                                bp=obj[4],
                                wsm=obj[5],
                                level=obj[1],
                                latlon=[lon,lat])
    return typhoon_temp

### S2 拼接经纬度
获取经纬度：  
    - 将字符串转成float，并且最后一位为小数点后一位

### S3 获取当前时间

### S4 写入mongodb

### S5 遍历起始list，自动获取header以及body

In [1]:
typhoon_list=[]
for start in list_startend:
    start_index=start[0]
    end_index=None
    if len(start)==1:        
        end_index=None
    else:
#         start_index=start[0]
        end_index=start[1]
    # 获取header与body
#     header,body=None
    header,body=getHeaderBody(start_index+1,end_index)
    # 从header中获取name
    typhoon_name=header[7]
    
    print(f"当前body长度{len(body)}")
    for i in range(len(body)):
        if i>=len(body)-1:
            print("跳出本次循环")
            break
        temp_typhoon=body.iloc[i] 
        print(f"当前i:{i}")
        print(f"当前index:{start_index+1+i}")
        print(f"当前body:\n{body.iloc[i+1]}")
        typhoon_list.append(convert2Typhoon(body.iloc[i+1],typhoon_name))
    print('--------')

NameError: name 'list_startend' is not defined

In [23]:
# 写入mongodb
index_save=0
for temp in typhoon_list:
    try:
        temp.save()
        index_save=index_save+1
        print(f'{index_save}写入成功')
    except ValidationError:
        print(f'出现错误的位置{index_save}')

1写入成功
2写入成功
3写入成功
4写入成功
5写入成功
6写入成功
7写入成功
8写入成功
9写入成功
10写入成功
11写入成功
12写入成功
13写入成功
14写入成功
15写入成功
16写入成功
17写入成功
18写入成功
19写入成功
20写入成功
21写入成功
22写入成功
23写入成功
24写入成功
25写入成功
26写入成功
27写入成功
28写入成功
29写入成功
30写入成功
31写入成功
32写入成功
33写入成功
34写入成功
35写入成功
36写入成功
37写入成功
38写入成功
39写入成功
40写入成功
41写入成功
42写入成功
43写入成功
44写入成功
45写入成功
46写入成功
47写入成功
48写入成功
49写入成功
50写入成功
51写入成功
52写入成功
53写入成功
54写入成功
55写入成功
56写入成功
57写入成功
58写入成功
59写入成功
60写入成功
61写入成功
62写入成功
63写入成功
64写入成功
65写入成功
66写入成功
67写入成功
68写入成功
69写入成功
70写入成功
71写入成功
72写入成功
73写入成功
74写入成功
75写入成功
76写入成功
77写入成功
78写入成功
79写入成功
80写入成功
81写入成功
82写入成功
83写入成功
84写入成功
85写入成功
86写入成功
87写入成功
88写入成功
89写入成功
90写入成功
91写入成功
92写入成功
93写入成功
94写入成功
95写入成功
96写入成功
97写入成功
98写入成功
99写入成功
100写入成功
101写入成功
102写入成功
103写入成功
104写入成功
105写入成功
106写入成功
107写入成功
108写入成功
109写入成功
110写入成功
111写入成功
112写入成功
113写入成功
114写入成功
115写入成功
116写入成功
117写入成功
118写入成功
119写入成功
120写入成功
121写入成功
122写入成功
123写入成功
124写入成功
125写入成功
126写入成功
127写入成功
128写入成功
129写入成功
130写入成功
131写入成功
132写入成功
133写入成功
134写入成功
135写入成功
136写入成功
137写入成功
138写入成功
139写入成功
140写入成功
141写入成功
142写入成功
143写入成功
144写入成功
145写入成功
146写入成功
147写入成功
148写入成功
149写入成功
150写入成功
151写入成功
152写入成功
153写入成功
154写入成功
155写入成功
156写入成功
157写入成功
158写入成功
159写入成功
160写入成功
161写入成功
162写入成功
163写入成功
164写入成功
165写入成功
166写入成功
167写入成功
168写入成功
169写入成功
170写入成功
171写入成功
172写入成功
173写入成功
174写入成功
175写入成功
176写入成功
177写入成功
178写入成功
179写入成功
180写入成功
181写入成功
182写入成功
183写入成功
184写入成功
185写入成功
186写入成功
187写入成功
188写入成功
189写入成功
190写入成功
191写入成功
192写入成功
193写入成功
194写入成功
195写入成功
196写入成功
197写入成功
出现错误的位置197
出现错误的位置197
出现错误的位置197
198写入成功
199写入成功
200写入成功
201写入成功
202写入成功
203写入成功
204写入成功
205写入成功
206写入成功
207写入成功
208写入成功
209写入成功
210写入成功
211写入成功
212写入成功
213写入成功
214写入成功
215写入成功
216写入成功
217写入成功
218写入成功
219写入成功
220写入成功
221写入成功
222写入成功
223写入成功
224写入成功
225写入成功
226写入成功
227写入成功
228写入成功
229写入成功
230写入成功
231写入成功
232写入成功
233写入成功
234写入成功
235写入成功
236写入成功
237写入成功
238写入成功
239写入成功
240写入成功
241写入成功
242写入成功
243写入成功
244写入成功
245写入成功
246写入成功
247写入成功
248写入成功
249写入成功
250写入成功
251写入成功
252写入成功
253写入成功
254写入成功
255写入成功
256写入成功
257写入成功
258写入成功
259写入成功
260写入成功
261写入成功
262写入成功
263写入成功
264写入成功
265写入成功
266写入成功
267写入成功
268写入成功
269写入成功
270写入成功
271写入成功
272写入成功
273写入成功
274写入成功
275写入成功
276写入成功
277写入成功
278写入成功
279写入成功
280写入成功
281写入成功
282写入成功
283写入成功
284写入成功
285写入成功
286写入成功
287写入成功
288写入成功
289写入成功
290写入成功
291写入成功
292写入成功
293写入成功
294写入成功
295写入成功
296写入成功
297写入成功
298写入成功
299写入成功
300写入成功
301写入成功
302写入成功
303写入成功
304写入成功
305写入成功
306写入成功
307写入成功
308写入成功
309写入成功
310写入成功
311写入成功
312写入成功
313写入成功
314写入成功
315写入成功
316写入成功
317写入成功
318写入成功
319写入成功
320写入成功
321写入成功
322写入成功
323写入成功
324写入成功
325写入成功
326写入成功
327写入成功
328写入成功
329写入成功
330写入成功
331写入成功
332写入成功
333写入成功
334写入成功
335写入成功
336写入成功
337写入成功
338写入成功
339写入成功
340写入成功
341写入成功
342写入成功
343写入成功
344写入成功
345写入成功
346写入成功
347写入成功
348写入成功
349写入成功
350写入成功
351写入成功
352写入成功
353写入成功
354写入成功
355写入成功
356写入成功
357写入成功
358写入成功
359写入成功
360写入成功
361写入成功
362写入成功
363写入成功
364写入成功
365写入成功
366写入成功
367写入成功
368写入成功
369写入成功
370写入成功
371写入成功
372写入成功
373写入成功
374写入成功
375写入成功
376写入成功
377写入成功
378写入成功
379写入成功
380写入成功
381写入成功
382写入成功
383写入成功
384写入成功
385写入成功
386写入成功
387写入成功
388写入成功
389写入成功
390写入成功
391写入成功
392写入成功
393写入成功
394写入成功
395写入成功
396写入成功
397写入成功
398写入成功
399写入成功
400写入成功
401写入成功
402写入成功
403写入成功
404写入成功
405写入成功
406写入成功
407写入成功
408写入成功
409写入成功
410写入成功
411写入成功
412写入成功
413写入成功
414写入成功
415写入成功
416写入成功
417写入成功
418写入成功
419写入成功
420写入成功
421写入成功
422写入成功
423写入成功
424写入成功
425写入成功
426写入成功
427写入成功
428写入成功
429写入成功
430写入成功
431写入成功
432写入成功
433写入成功
434写入成功
435写入成功
436写入成功
437写入成功
438写入成功
439写入成功
440写入成功
441写入成功
442写入成功
443写入成功
444写入成功
445写入成功
446写入成功
447写入成功
448写入成功
449写入成功
450写入成功
451写入成功
452写入成功
453写入成功
454写入成功
455写入成功
456写入成功
457写入成功
458写入成功
459写入成功
460写入成功
461写入成功
462写入成功
463写入成功
464写入成功
465写入成功
466写入成功
467写入成功
468写入成功
469写入成功
470写入成功
471写入成功
472写入成功
473写入成功
474写入成功
475写入成功
476写入成功
477写入成功
478写入成功
479写入成功
480写入成功
481写入成功
482写入成功
483写入成功
484写入成功
485写入成功
486写入成功
487写入成功
488写入成功
489写入成功
490写入成功
491写入成功
492写入成功
493写入成功
494写入成功
495写入成功
496写入成功
497写入成功
498写入成功
499写入成功
500写入成功
501写入成功
502写入成功
503写入成功
504写入成功
505写入成功
506写入成功
507写入成功
508写入成功
509写入成功
510写入成功
511写入成功
512写入成功
513写入成功
514写入成功
515写入成功
516写入成功
517写入成功
518写入成功
519写入成功
520写入成功
521写入成功
522写入成功
523写入成功
524写入成功
525写入成功
526写入成功
527写入成功
528写入成功
529写入成功
530写入成功
531写入成功
532写入成功
533写入成功
534写入成功
535写入成功
536写入成功
537写入成功
538写入成功
539写入成功
540写入成功
541写入成功
542写入成功
543写入成功
544写入成功
545写入成功
546写入成功
547写入成功
548写入成功
549写入成功
550写入成功
551写入成功
552写入成功
553写入成功
554写入成功
555写入成功
556写入成功
557写入成功
558写入成功
559写入成功
560写入成功
561写入成功
562写入成功
563写入成功
564写入成功
565写入成功
566写入成功
567写入成功
568写入成功
569写入成功
570写入成功
571写入成功
572写入成功
573写入成功
574写入成功
575写入成功
576写入成功
577写入成功
578写入成功
579写入成功
580写入成功
581写入成功
582写入成功
583写入成功
584写入成功
585写入成功
586写入成功
587写入成功
588写入成功
589写入成功
590写入成功
591写入成功
592写入成功
593写入成功
594写入成功
595写入成功
596写入成功
597写入成功
598写入成功
599写入成功
600写入成功
601写入成功
602写入成功
603写入成功
604写入成功
605写入成功
606写入成功
607写入成功
608写入成功
609写入成功
610写入成功
611写入成功
612写入成功
613写入成功
614写入成功
615写入成功
616写入成功
617写入成功
618写入成功
619写入成功
620写入成功
621写入成功
622写入成功
623写入成功
624写入成功
625写入成功
626写入成功
627写入成功
628写入成功
629写入成功
630写入成功
631写入成功
632写入成功
633写入成功
634写入成功
635写入成功
636写入成功
637写入成功
638写入成功
639写入成功
640写入成功
641写入成功
642写入成功
643写入成功
644写入成功
645写入成功
646写入成功
647写入成功
648写入成功
649写入成功
650写入成功
651写入成功
652写入成功
653写入成功
654写入成功
655写入成功
656写入成功
657写入成功
658写入成功
659写入成功
660写入成功
661写入成功
662写入成功
663写入成功
664写入成功
665写入成功
666写入成功
667写入成功
668写入成功
669写入成功
670写入成功
671写入成功
672写入成功
673写入成功
674写入成功
675写入成功
676写入成功
677写入成功
678写入成功
出现错误的位置678
出现错误的位置678
出现错误的位置678
出现错误的位置678
出现错误的位置678
出现错误的位置678
出现错误的位置678
出现错误的位置678
出现错误的位置678
出现错误的位置678
出现错误的位置678
出现错误的位置678
出现错误的位置678
出现错误的位置678
出现错误的位置678
出现错误的位置678
出现错误的位置678
出现错误的位置678
出现错误的位置678
出现错误的位置678
出现错误的位置678
出现错误的位置678
出现错误的位置678
出现错误的位置678
出现错误的位置678
出现错误的位置678
出现错误的位置678
出现错误的位置678
出现错误的位置678
出现错误的位置678
出现错误的位置678
出现错误的位置678
出现错误的位置678
出现错误的位置678
出现错误的位置678
出现错误的位置678
出现错误的位置678
出现错误的位置678
出现错误的位置678
出现错误的位置678
出现错误的位置678
出现错误的位置678
出现错误的位置678
出现错误的位置678
出现错误的位置678
出现错误的位置678
出现错误的位置678
出现错误的位置678
出现错误的位置678
出现错误的位置678
出现错误的位置678
出现错误的位置678
出现错误的位置678
出现错误的位置678
出现错误的位置678
出现错误的位置678
出现错误的位置678
679写入成功
680写入成功
681写入成功
682写入成功
683写入成功
684写入成功
685写入成功
686写入成功
687写入成功
688写入成功
689写入成功
690写入成功
691写入成功
692写入成功
693写入成功
694写入成功
695写入成功
696写入成功
697写入成功
698写入成功
699写入成功
700写入成功
701写入成功
702写入成功
703写入成功
704写入成功
705写入成功
706写入成功
707写入成功
708写入成功
709写入成功
710写入成功
711写入成功
712写入成功
713写入成功
714写入成功
715写入成功
716写入成功
717写入成功
718写入成功
719写入成功
720写入成功
721写入成功
722写入成功
723写入成功
724写入成功
725写入成功
726写入成功
727写入成功
728写入成功
729写入成功
730写入成功
731写入成功
732写入成功
733写入成功
734写入成功
735写入成功
736写入成功
737写入成功
738写入成功
739写入成功
740写入成功
741写入成功
742写入成功
743写入成功
744写入成功
745写入成功
746写入成功
747写入成功
748写入成功
749写入成功
750写入成功
751写入成功
752写入成功
753写入成功
754写入成功
755写入成功

In [21]:
typhoon_list[1].code

'(nameless)'

In [24]:
typhoon_list[197].code

'(nameless)(-)1'

In [25]:
typhoon_list[678].code

'Jean'