In [2]:
from mongoengine import *
import os
import pandas as pd
from pandas import Series,DataFrame
import datetime

## 1 读取文件

### 读取方式1：使用pandas

In [3]:
targetfilename=r"5622.txt"
# 家中mac
# targetpath=r"/Users/casablanca/03project/typhoonSearchSys/demo_data"
# 单位mac
targetpath=r"/Users/liusihan/Documents/01project/TyphoonSearchSys/demo_data"
fullname=os.path.join(targetpath,targetfilename)

In [4]:
fullname

'/Users/liusihan/Documents/01project/TyphoonSearchSys/demo_data/5622.txt'

不使用pandas的read_table

In [5]:
with open(fullname,'rb') as f:
    data=pd.read_table(f,sep='\n',encoding='utf-8',header=None,infer_datetime_format=False)
    print('读取成功')

读取成功

In [6]:
data.head(8)

                                                   0
0                                                  1
1          S.N.   122      5622      9   4     QI...
2          0   1   2   3   4   5   6   7   8   9 ...
3  +                                             ...
4    9   159 156 135 107  90  93 110 123 145 141 ...
5    4   121 109  90  71  58  53  59  73  87  96 ...
6   30    38  47  45  36  32  40  51  50  58  45 ...
7    9   156 159 142 126 106 100  98  --  --  -- ...

### S1 对于部分数据由于四位会导致间隔没有空格  
发现 210 SHACHENG 存在这个问题

In [7]:
data.iloc[210][0].split()

['+', 'H', 'H', 'L', 'L']

In [8]:
data.iloc[210:227][0]

210    +                                             ...
211      9   600 570 592 651 736 830 895 927 915 848 ...
212      2   609 576 592 650 731 817 885 914 897 834 ...
213     27    -9  -6   0   1   5  13  10  13  18  14 ...
214      9   681 596 591 642 752 862 946 990 976 902 ...
215      3   655 571 533 556 631 733 838 917 950 928 ...
216     28    26  25  58  86 121 129 108  73  26 -26 ...
217                              MAX                 ...
218      9   829 680 626 555 547 644 776 913 9851035 ...
219      4   733 614 523 494 537 635 758 874 956 983 ...
220     29    96  66 103  61  10   9  18  39  29  52 ...
221      9   808 668 532 432 415 507 624 760 886 971 ...
222      5   821 689 563 478 469 538 659 796 915 9901...
223     30   -13 -21 -31 -46 -54 -31 -35 -36 -29 -19 ...
224                                                    1
225            S.N. 73806      5622      9   2     BA...
226            0   1   2   3   4   5   6   7   8   9 ...
Name: 0, dtype: object

In [18]:
data.iloc[218][0].split()

['9',
 '829',
 '680',
 '626',
 '555',
 '547',
 '644',
 '776',
 '913',
 '9851035',
 '981',
 '879',
 '764',
 '616',
 '477',
 '407',
 '426',
 '505',
 '671',
 '824',
 '94710061003',
 '928',
 '08451035',
 '21301020',
 '0330',
 '532',
 '1515',
 '402']

In [8]:
temp=data.iloc[218][0]

In [20]:
temp

'  9   829 680 626 555 547 644 776 913 9851035 981 879 764 616 477 407 426 505 671 824 94710061003 928 08451035 21301020 0330 532 1515 402'

In [52]:
temp[5:]

' 829 680 626 555 547 644 776 913 9851035 981 879 764 616 477 407 426 505 671 824 94710061003 928 08451035 21301020 0330 532 1515 402'

In [43]:
enumerate(range(9,len(temp),4))

- 1 切分0-23时的数据

In [40]:
realdata_arr=[]

In [41]:
for i,val in enumerate(range(5,len(temp),4)):
#     print(i)
    if i<24:
        print(f'num:{i+1}')
        print(f'start:{val}|end:{val+4}')
    #     if val!=0:
    #         print(val)
        print(temp[val:val+4])
        realdata_arr.append(int(temp[val:val+4]))
        print('----')

num:1
start:5|end:9
 829
----
num:2
start:9|end:13
 680
----
num:3
start:13|end:17
 626
----
num:4
start:17|end:21
 555
----
num:5
start:21|end:25
 547
----
num:6
start:25|end:29
 644
----
num:7
start:29|end:33
 776
----
num:8
start:33|end:37
 913
----
num:9
start:37|end:41
 985
----
num:10
start:41|end:45
1035
----
num:11
start:45|end:49
 981
----
num:12
start:49|end:53
 879
----
num:13
start:53|end:57
 764
----
num:14
start:57|end:61
 616
----
num:15
start:61|end:65
 477
----
num:16
start:65|end:69
 407
----
num:17
start:69|end:73
 426
----
num:18
start:73|end:77
 505
----
num:19
start:77|end:81
 671
----
num:20
start:81|end:85
 824
----
num:21
start:85|end:89
 947
----
num:22
start:89|end:93
1006
----
num:23
start:93|end:97
1003
----
num:24
start:97|end:101
 928
----

- 2 切分后面的高低潮位数据

In [42]:
index=102
step=4
temp[index:index+step]

'0845'

In [43]:
index_2=102
step_2=9
year=1958
month=9
day=4
for i,val in enumerate(range(index_2,len(temp),step_2)):
#     print(i)
    if i<24:
        print(f'num:{i+1}')
        print(f'start:{val}|end:{val+step_2}')

    #     if val!=0:
    #         print(val)
        print(f'val:{temp[val:val+step]}|val2:{temp[val+step:val+step*2]}')
        print(f'hour:{int(temp[val:val+step][:2])}|min:{int(temp[val:val+step][2:])}')
        # 时间
        temp_datetime=datetime.datetime(year,month,day,int(temp[val:val+step][:2]),int(temp[val:val+step][2:]))
        realdata_arr.append(temp_datetime)
        # 潮位
        realdata_arr.append(int(temp[val+step:val+step*2]))
        print('----')

num:1
start:102|end:111
val:0845|val2:1035
hour:8|min:45
----
num:2
start:111|end:120
val:2130|val2:1020
hour:21|min:30
----
num:3
start:120|end:129
val:0330|val2: 532
hour:3|min:30
----
num:4
start:129|end:138
val:1515|val2: 402
hour:15|min:15
----

In [44]:
realdata_arr

[829,
 680,
 626,
 555,
 547,
 644,
 776,
 913,
 985,
 1035,
 981,
 879,
 764,
 616,
 477,
 407,
 426,
 505,
 671,
 824,
 947,
 1006,
 1003,
 928,
 datetime.datetime(1958, 9, 4, 8, 45),
 1035,
 datetime.datetime(1958, 9, 4, 21, 30),
 1020,
 datetime.datetime(1958, 9, 4, 3, 30),
 532,
 datetime.datetime(1958, 9, 4, 15, 15),
 402]